<!DOCTYPE html>
<head>
    <script type="text/javascript" src="/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-material.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-aria.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-messages.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/assets/jquery/jquery-2.2.4.min.js"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="/assets/datatables/DataTables-1.10.13/js/jquery.dataTables.min.js"></script>

    <!-- Custom script -->
    <script type="text/javascript" src="/assets/js/constant.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/product.js"></script>
    <script type="text/javascript" src="/assets/js/widget-script.js"></script>
    <script type="text/javascript" src="/assets/js/epic-controller.js"></script>
    <script type="text/javascript" src="/assets/js/story-controller.js"></script>
    <script type="text/javascript" src="/assets/js/assignee-controller.js"></script>
    <script type="text/javascript" src="/assets/js/cycle-controller.js"></script>

    <script type="text/javascript" src="/assets/js/epicSettings.js"></script>
    <script type="text/javascript" src="/assets/js/assigneeSettings.js"></script>
    <script type="text/javascript" src="/assets/js/cycleSettings.js"></script>
    <script type="text/javascript" src="/assets/js/UserStorySettings.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/angular-material.css">
    <link rel="stylesheet" type="text/css" href="/assets/datatables/DataTables-1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/product.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
</head>

<body ng-app="App" layout-fill layout="column" layout-align="center center">


<div>
    <h1 style="font-size: 100px"> Oops!</h1>
    <h1 style="font-size: 50px">404 Not Found</h1>
    <p style="font-size: 25px">Sorry, requested page not found! Click <a style="color: red" href="/">here</a> to return
        Home page.</p>
</div>


</div>
</body>
</html>