<#macro myLayout title="Layout example">
    <!DOCTYPE html>
    <script type="text/javascript" src="/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-material.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-aria.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-animate.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-messages.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/assets/jquery/jquery-2.2.4.min.js"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="/assets/datatables/DataTables-1.10.13/js/jquery.dataTables.min.js"></script>

    <!-- Custom script -->
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/product.js"></script>
    <script type="text/javascript" src="/assets/js/widget-script.js"></script>
    <script type="text/javascript" src="/assets/js/epic-controller.js"></script>
    <script type="text/javascript" src="/assets/js/story-controller.js"></script>
    <script type="text/javascript" src="/assets/js/assignee-controller.js"></script>
    <script type="text/javascript" src="/assets/js/cycle-controller.js"></script>
    <script type="text/javascript" src="/assets/js/assigneeSettings.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/angular-material.css">
    <link rel="stylesheet" type="text/css" href="/assets/datatables/DataTables-1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/product.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
    <html lang="en">
    <head>
        <title>${title}</title>
        <meta charset="UTF-8">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width" id="viewport"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    </head>


    <body ng-app="App" id="body">

    <div style="background-color: #205081; color: white">
        <div ng-controller="HeaderCtrl" layout="row" layout-wrap layout-align="start center">

            <div>
                <h2 style="margin-left: 10px; margin-right: 10px" layout-fill>{{pageName}}</h2>
            </div>
            <!--<div flex></div>-->

            <#if (session.username)??>
                <md-button ng-if="currentDashboard.owner == name" style="margin-right: 10px;margin-left: 0"
                           class="md-icon-button"
                           ng-click="showAddWidgetDialog($event)">
                    <md-icon style="color: white;" class="material-icons">add_circle_outline</md-icon>
                    <md-tooltip md-direction="bottom">
                        Add new gadget
                    </md-tooltip>
                </md-button>

                <div ng-if="dashboardGadgetInfo.Gadget==0">
                    No gadget found
                </div>
                <div layout="row" ng-if="hasInfo">Loading {{dashboardGadgetInfo.Gadget}} gadget
                    <div ng-if="dashboardGadgetInfo.Gadget>1">s</div>
                </div>
                <md-progress-circular ng-if="getting" style="margin-right: 10px;margin-left: 10px;"
                                      md-mode="indeterminate"
                                      class="md-warn" md-diameter="20"></md-progress-circular>
                <div flex></div>
                <div>Hi {{userfullname}}</div>


                <md-button href="http://tiger.in.alcatel-lucent.com:8060/user/{{name}}"
                           class="md-icon-button">
                    <md-icon style="color: white;" class="material-icons">account_circle</md-icon>
                </md-button>
                <#if (session.role)??>
                    <md-button ng-href="/" class="md-icon-button">
                        <md-icon style="color: white;" class="material-icons">home</md-icon>
                    </md-button>
                    <md-button ng-href="/configuration" class="md-icon-button">
                        <md-icon style="color: white;" class="material-icons">settings</md-icon>
                        <md-tooltip md-direction="bottom">
                            Go to release page
                        </md-tooltip>
                    </md-button>
                </#if>
                <md-button ng-href="/logout" class="md-icon-button">
                    <md-icon style="color: white;" class="material-icons">directions_run</md-icon>
                    <md-tooltip md-direction="bottom">
                        Logout
                    </md-tooltip>
                </md-button>

            </#if>
        </div>
    </div>


    <#nested/>


    </body>
    </html>
</#macro>
