<md-dialog class="settingForm" data-ng-controller="CycleSettingController" data-ng-init="init()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Cycle Settings</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form class="form-horizontal " role="form">
        <div class="md-padding" data-ng-cloack>
            <table class="table table-bordered">
                <tbody>
                <!-- Cycle Project Row -->
                <tr>
                    <td class="col-md-6"><label>Project</label></td>
                    <td class="col-md-6"><select class="form-control" id="cycleProject" data-ng-model="selectedProject"

                                                 data-ng-options="selectedItem as selectedItem for selectedItem in greenHopperProjectList track by selectedItem">
                        <option value="" selected disabled>-Select Project-</option>
                    </select></td>
                </tr>
                <!-- Cycle Release Row -->
                <tr>
                    <td class="col-md-6"><label>Release</label></td>

                    <td class="col-md-6"><select class="form-control" ng-model="selectedRelease"
                                                 id="cycleRelease"
                                                 data-ng-options="selectedItem as selectedItem for selectedItem in greenHopperRelease track by selectedItem">
                        <option value="" selected disabled>-Select Version-</option>
                    </select></td>
                </tr>
                <!-- Cycle Product -->
                <tr>
                    <td class="col-md-6"><label>Product</label></td>

                    <td class="col-md-12 row">
                        <div class="col-md-9">
                            <select id="cycleProduct" data-ng-model="selectedProduct"
                                    data-ng-options="item as item for item in greenHopperProduct track by item"
                                    class="form-control">
                                <option value="" selected disabled>-Select Product-</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <a href="/{{productPage}}" data-toggle="tooltip"
                               title="Only Jira Administrator can add new product. Function disabled for normal user."
                               class="btn-to-product btn btn-default">Add Product</a>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody>

                <!-- Cycle Metrics row -->
                <tr>
                    <td class="col-md-6"><label>Metrics</label></td>
                    <td class="col-md-6"><select multiple class="form-control" id="cycleMetricMultiSelect"
                                                 data-ng-model="selectedMetric">
                        <option value="UNEXECUTED">UNEXECUTED</option>
                        <option value="FAILED">FAILED</option>
                        <option value="WIP">WIP</option>
                        <option value="BLOCKED">BLOCKED</option>
                        <option value="PASSED">PASSED</option>
                    </select></td>
                </tr>
                </tbody>
            </table>
        </div>
        <md-progress-linear data-ng-show="greenHopperProjectList.length == 0"></md-progress-linear>
        <button class="btn btn-success" data-ng-disabled="isDisabled" data-ng-click="saveGadget()">Update</button>
    </form>
</md-dialog>