<md-dialog class="settingForm" ng-controller="EpicSettingController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Epic Settings</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form action="/dashboard/id/update" method="post" class="form-horizontal" role="form" ng-init="init()">
        <div class="md-padding" data-ng-cloack>
            <table class="table table-bordered">
                <tbody>
                <!-- Project Row -->
                <tr>
                    <td class="col-md-6"><label>Project</label></td>
                    <td class="col-md-6">
                        <select class="form-control" id="epicProject" ng-model="selectedProject"
                                ng-change="onProjectReleaseProductChanged()"
                                ng-options="selectedItem as selectedItem for selectedItem in greenHopperProjectList track by selectedItem">
                            <option value="" selected disabled>-Select Project-</option>
                        </select></td>
                </tr>
                <!-- Release Row -->
                <tr>
                    <td class="col-md-6"><label>Release</label></td>
                    <td class="col-md-6"><select class="form-control" ng-model="selectedRelease"
                                                 ng-change="onProjectReleaseProductChanged()"
                                                 id="epicRelease"
                                                 ng-options="selectedItem as selectedItem for selectedItem in greenHopperRelease track by selectedItem">
                        <option value="" selected disabled>-Select Version-</option>
                    </select></td>
                </tr>
                <!-- Product Row -->
                <tr>
                    <td class="col-md-6"><label>Product</label></td>
                    <td class="col-md-12 row">
                        <div class="col-md-9">
                            <select id="epicProduct" ng-model="selectedProduct"
                                    ng-change="onProjectReleaseProductChanged()"
                                    ng-options="item as item for item in greenHopperProduct track by item"
                                    class="form-control">
                                <option value="" selected disabled>-Select Product-</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <a href="/{{productPage}}" data-toggle="tooltip"
                               title="Only Jira Administrator can add new product. Function disabled for normal user."
                               class="btn-to-product btn btn-default">Add Product</a>
                        </div>
                    </td>
                </tr>
                <!-- Epic Link Row -->
                <tr>
                    <td class="col-md-6"><label>Epic Link</label></td>
                    <td class="col-md-6">
                        <div id="epic-link-container" data-ng-hide="hideEpic">
                            <div id="epiclinkloader" align="center" data-ng-show="showEpicLoader">
                                <div class="myLoader loader"></div>
                            </div>

                            <select multiple class="form-control" data-ng-hide="showEpicLoader" id="epicLinkSelection"
                                    ng-model="selectedEpicLink"
                                    ng-options="item as item for item in greenHopperEpicLink track by item">
                            </select>
                        </div>
                        <div class="col-md-12" align="center" style="padding-top: 10px;">
                            <label><input type="checkbox" id="epicCheckAll" data-ng-model="hideEpic"
                                          ng-click="onCheckAllEpic()">Select All</label>
                        </div>
                    </td>

                </tr>
                <!-- Metrics row -->
                <tr>
                    <td class="col-md-6"><label>Metrics</label></td>
                    <td class="col-md-6"><select multiple class="form-control" id="epicMetricMultiSelect"
                                                 data-ng-model="selectedMetric">
                        <option value="SUMMARY">SUMMARY</option>
                        <option value=PRIORITY>PRIORITY</option>
                        <option value="UNEXECUTED">UNEXECUTED</option>
                        <option value="FAILED">FAILED</option>
                        <option value="WIP">WIP</option>
                        <option value="BLOCKED">BLOCKED</option>
                        <option value="PASSED">PASSED</option>
                        <option value="PLANNED">PLANNED</option>
                        <option value="UNPLANNED">UNPLANNED</option>
                    </select></td>
                </tr>
                </tbody>
            </table>
        </div>
        <md-progress-linear ng-show="greenHopperProjectList.length == 0"></md-progress-linear>
        <button type="button" ng-disabled="isDisabled" ng-click="saveGadget()" class="btn btn-success">Update</button>
    </form>
</md-dialog>